div {
    position: relative;

    width: 238px;
    height: 232px;
    margin-left: 6px;

    border-radius: 100%;
    box-shadow: 0 0 0 2px black inset, 0 0 0 6px white inset, 0 0 0 47px black inset, 0 0 0 51px white inset;

    font: bold 1.5em/1 arial, sans-serif;
}
div::before {
    position: absolute;
    top: 50px;
    left: 51px;
    z-index: -1;

    display: block;

    width: 68px;
    height: 68px;

    content: "";

    background: #0094da;
    box-shadow: 68px 68px 0 #0094da;
}
span {
    position: absolute;

    -webkit-transform: translate(2.2em, 0.1em) rotate(0);
    transform: translate(2.2em, 0.1em) rotate(0);

    color: white;

    font-weight: bold;
    font-size: 1.9em;
}
span::before {
    position: absolute;

    content: "B";
    -webkit-transform: translate(-1.3em, 0.5em) rotate(-45deg);
    transform: translate(-1.3em, 0.5em) rotate(-45deg);
}
span::after {
    position: absolute;

    content: "W";
    -webkit-transform: translate(0.5em, 0.6em) rotate(45deg);
    transform: translate(0.5em, 0.6em) rotate(45deg);
}
