body
{
    background: #c5c5c5;
}

.bmw
{
    font: bold 24px/1 Arial, sans-serif;

    position: relative;

    width: 9.917em;
    height: 9.6667em;

    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 .08334em black inset, 0 0 0 .25em white inset, 0 0 0 1.95834em black inset, 0 0 0 2.125em white inset;
}

.bmw::before
{
    position: absolute;
    z-index: -1;
    top: 2.08334em;
    left: 2.125em;

    width: 2.8334em;
    height: 2.8334em;

    content: '';

    background: #0094da;
    box-shadow: 2.8334em 2.8334em 0 #0094da,  0 2.8334em 0 #fff, 2.8334em 0 0 #fff;
}

.bmw::after,
span
{
    font-size: 1.9em;

    position: absolute;

    content: 'M';
    transform: translate(2.2em, .1em) rotate(0);
}

span::before
{
    position: absolute;

    content: 'B';
    transform: translate(-1.3em, .5em) rotate(-45deg);
}

span::after
{
    position: absolute;

    content: 'W';
    transform: translate(1.33em, .6em) rotate(45deg);
}
